* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  //   font-family: "Lobster-Regular";
  //   font-family: "Courgette-Regular";
  //   font-family: "Ranchers-Regular";
  //   font-family: "Poppins-Light";
  //   font-family: "Rubik-Light";
  //   font-family: "Roboto-Regular";
}

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}
