.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(#000, 0.4);

  z-index: 100;
  & .btn-container {
    position: relative;
    width: 100%;
    // height: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
    font-family: "Rubik-Light";
    & .hold {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #fff;
      border-radius: 3px;
      padding: 1rem;
      & .txt {
        padding: 2rem;
        text-transform: capitalize;
        font-size: 1.8rem;
      }
      & .btn {
        position: relative;
        display: flex;
        & button {
          border: none;
          color: #fff;
          outline: none;
          border-radius: 3px;
          width: 6rem;
          cursor: pointer;
          font-family: "Rubik-Light";
          text-transform: uppercase;
          font-size: 1.8rem;
          height: 4rem;
          background-color: gray;
          &:hover {
            background-color: #000;
          }
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
