.alert {
  position: relative;
  width: 35%;
  height: 4rem;
  border: 2px solid red;
  background-color: rgb(255, 150, 150);
  border-radius: 3px;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & h2 {
    font-size: 1.9rem;
    text-transform: capitalize;
    font-family: "Poppins-Light";
    color: #fff;
    display: inline-block;
  }
}
